{{ define "main" }}
    <main class="main single" id="main">
        <div class="main-inner">
            <article class="content post">
                <h1 class="post-title">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <div class="post-description">{{ . | markdownify | safeHTML }}</div>
                {{ end }}
                <div class="post-body">
                    <hr class="video" />
                    <video src="{{ .Params.video }}" controls></video>
                    <div style="text-align: center">❤ love is freedom</div>
                    <hr class="video" />
                    <div class="video-footer">— {{ with .Params.info }}{{ printf `%s | ` (. | markdownify) | safeHTML }}{{ end }}more @ <a href="/video/">Video</a></div>
                </div>
            </article>
        </div>
    </main>
{{ end }}